.postdiv{
  font-style: italic ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:1rem;
  max-width: 100%;
  word-break: break-all;
  hyphens: auto;
}
.postimg{
  height: 4rem;
  width:4rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px 5px;
}