.user_table{
    display:grid;
    max-width: 100%;
    grid-template-columns: 7rem 1fr;
    background-color: aquamarine;
    border-radius:1cap; 
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
}
.userimg{
    height: 5rem;
    width:5rem;
    border-radius: 50%;
    object-fit: cover;
  }
.userinfo{
    font-family: 'Courier New', Courier, monospace;
    word-break: break-all;
}
.pageSelected{
    font-weight: bold;
}