
.header{
  grid-area: h;
  background-color: #687081;
  position:fixed;
  display: grid;
  top:0;
  width: 70%;
  justify-content: space-between;
}
.logo{
  font-size: 2rem;
  color:white;
  text-align: center;
  font-style: italic;
}
.img{
    width:2rem;
    padding: 0.5rem 0.5rem;
}